<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Angular 6 Reactive Form - Password Strength Meter Validation</h2>
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                  <ul>
                    <li>Password is required</li>
                    <li>Password must be at least 6 characters</li>
                    <li>Password Strength must be at least 60</li>
                  </ul>
                    <div class="form-group">
                        <label>Enter password:</label>
                        <input type="password" formControlName="password" class="form-control" />
                        <div class="pasword-strength-wrapper">
                            password strength: {{strength}}
                          <div class="password-strength" [ngStyle]="{ 'width' : strengthWidth + '%', 'background-color' : strengthColor }"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="!status" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
